.profile__avatar-container{
  display: flex;
  min-width: 120px;
  min-height: 120px;
  border-radius: 50%;
  background-image: url(../../../images/Vector.svg);
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
}

@media screen and (max-width: 922px) {
  .profile__avatar-container {
    margin-right: 15px;
  }
}
@media screen and (max-width: 716px) {
  .profile__avatar-container {
    width: 45%;
    margin: 0 0 26px;
  }
}
@media screen and (max-width: 320px) {
   .profile__avatar-container {
    width: 120px;
  }
}
