.profile__info {
  margin: 22px 0 25px 28px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 302px;
}
  
@media (max-width: 694px) {
  .profile__info {
    margin: 27px auto 28px;
    align-items: center;
    max-width: 194px;
  }
}
  